@model List<MoneyTransfer.Database.User_Notifications>
@{
    ViewBag.Title = "Notifications"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table {
        text-align: center;
    }

    input {
        color: aqua;
        background-color: black;
        height: 35px;
        width: 130px;
    }

    .reply {
        width: 100px;
    }
</style>

<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Notifications</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Admin</li>
                        <li>User Notifications</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="how-to-area bg-color area-padding">
    <div class="all-services">
        <div class="container">
            @*<table class="table table-bordered table-dark table-hover">*@
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th style="text-align: center">Admin Reply</th>
                        <th style="text-align: center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Admin_reply</td>
                            <td>
                                <a href="@Url.Action("DeleteNoti", new { item.ID })"><input type="button" value="Delete Record" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>