<!-- all css here -->
<!-- bootstrap v3.3.6 css -->
<link rel="stylesheet" href="~/content/css/bootstrap.min.css">
<!-- owl.carousel css -->
<link rel="stylesheet" href="~/content/css/owl.carousel.css">
<link rel="stylesheet" href="~/content/css/owl.transitions.css">
<!-- Animate css -->
<link rel="stylesheet" href="~/content/css/animate.css">
<!-- Nice-select css -->
<link rel="stylesheet" href="~/content/css/nice-select.css">
<!-- meanmenu css -->
<link rel="stylesheet" href="~/content/css/meanmenu.min.css">
<!-- font-awesome css -->
<link rel="stylesheet" href="~/content/css/font-awesome.min.css">
<link rel="stylesheet" href="~/content/css/themify-icons.css">
<link rel="stylesheet" href="~/content/css/flaticon.css">
<!-- magnific css -->
<link rel="stylesheet" href="~/content/css/magnific.min.css">
<!-- style css -->
<link rel="stylesheet" href="~/content/style.css">
<!-- responsive css -->
<link rel="stylesheet" href="~/content/css/responsive.css">

<!-- modernizr css -->
<script src="~/content/js/vendor/modernizr-2.8.3.min.js"></script>

<style>
    .modal {
        background-color: blue;
    }

    button {
        background-color: darkslateblue;
        color: #fff;
        width: 20%;
        height: 6%;
    }
    #apply{
        width: 35%;
        height: 7%;
        font-size: 22px;
    }
</style>

<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Congratulation</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dsahboard-area bg-color area-padding">
    <div class="col-md-4 col-sm-4 col-xs-4" style="margin: -199px 450px;">
        <div class="single-dash-head">
            <h2>Submitted</h2>
            <span >You Money is Successful</span><br /><br />
            <a href="SendMoney" class="btn btn-primary" id="apply">Back</a>
        </div>
    </div>
</div>